rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      allow update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;

      match /notifications/{notifId} {
        allow read: if request.auth != null && request.auth.uid == userId;
        allow create: if request.auth != null && request.auth.uid == userId;
        allow update: if request.auth != null && request.auth.uid == userId;
        allow delete: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /comments/{animeId}/episodes/{episode}/messages/{commentId} {
      allow read: if true;

      allow create: if
        request.resource.data.name is string &&
        request.resource.data.name.size() > 0 &&
        request.resource.data.name.size() <= 30 &&
        request.resource.data.text is string &&
        request.resource.data.text.size() >= 2 &&
        request.resource.data.text.size() <= 500;

      allow update: if
        request.resource.data.diff(resource.data).affectedKeys()
          .hasOnly(['likes', 'dislikes', 'likedBy', 'dislikedBy', 'pinned', 'pinnedBy']);

      allow delete: if request.auth != null &&
        request.auth.uid == resource.data.uid;

      match /replies/{replyId} {
        allow read: if true;

        allow create: if
          request.resource.data.name is string &&
          request.resource.data.name.size() > 0 &&
          request.resource.data.name.size() <= 30 &&
          request.resource.data.text is string &&
          request.resource.data.text.size() >= 2 &&
          request.resource.data.text.size() <= 500;

        allow update: if
          request.resource.data.diff(resource.data).affectedKeys()
            .hasOnly(['likes', 'dislikes', 'likedBy', 'dislikedBy']);

        allow delete: if request.auth != null &&
          request.auth.uid == resource.data.uid;
      }
    }
  }
}
